* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 400;
    color: #666;
    max-width: 100%;
    overflow-x: hidden;
}

.v-center {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}