@mixin reset-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

@mixin hidden {
    opacity: 0;
    visibility: hidden;
}

@mixin show {
    opacity: 1;
    visibility: visible;
}

a {
    text-decoration: none;  
    color: inherit;
}

$topheader-height: 40px;

.app {
    .header {
        .top-header {
            background-color: rgb(34, 34, 34);
            .top-header {
                height: $topheader-height;
                justify-content: space-between;
                &__left {
                    height: 100%;
                    &__list {
                        @include reset-list;
                        .topheader__left__item {
                            padding: 0 15px;
                            position: relative;

                            .select-language::before,
                            .select-currency::before {
                                content: "";
                                position: absolute;
                                right: 0;
                                top: 50%;
                                border: solid transparent;
                                height: 0;
                                width: 0;
                                pointer-events: none;
                                border-top-color: #888;
                                border-width: 5px;
                                transform: translateY(-50%);
                            }

                            .select-language::after,
                            .select-currency::after {
                                position: absolute;
                                content: '';
                                display: block;
                                top: 100%;
                                left: 0;
                                background-color: red;
                                width: 100%;
                                height: 50%;
                                opacity: 0;
                            }

                            .language__list {
                                @include reset-list;
                                border: 2px solid #F5F5F5;
                                position: absolute;
                                top: 31px;
                                min-width: 100px;
                                background-color: #FFFFFF;
                                z-index: 11;

                                .language__item {
                                    line-height: 1.6;
                                    text-transform: uppercase;
                                    font-size: 1.2rem;
                                    padding: 15px 0 15px 2px;
                                    cursor: pointer;
                                }

                                .language__item:hover {
                                    background: #F5F5F5;
                                }
                            }

                            .currency__list {
                                @include reset-list;
                                border: 2px solid #F5F5F5;
                                background-color: #FFFFFF;
                                position: absolute;
                                top: 31px;
                                left: 20px;
                                min-width: 100px;

                                .currency__item {
                                    line-height: 1.6;
                                    text-transform: uppercase;
                                    font-size: 1.2rem;
                                    pad: 10px 0 10px 2px;
                                    cursor: pointer;
                                }

                                .currency__item:hover {
                                    background-color: #F5F5F5;
                                }
                            }
                        }

                        .switch-language {
                            padding-left: 0;
                        }
                    }
                }

                &__right {
                    height: 100%;
                    &__list {
                        height: $topheader-height;
                        line-height: $topheader-height;
                        border-right: 1px solid rgba(136, 136, 136, 0.2);
                        @include reset-list;

                        .topheader__right__item {
                            padding: 0 15px;
                            cursor: pointer;
                            border-left: 1px solid rgba(136, 136, 136, 0.2);
                            transition: color 0.6s ease;
                            
                            i {
                                margin-right: 5px;
                            }

                            &:hover {
                                color: #E34444;
                            }
                        }
                    }
                }
            }
        }

        .bot-header {
            margin: 40px 0;
            .botheader {
                .sns-icon-box {
                    cursor: pointer;

                    &::after {
                        display: table;
                        content: "";
                        clear: both;
                    }

                    &:hover {
                        i {
                            color: #FFF !important;
                            .sns-icon-left::after {
                                height: 40px;
                            }
                        }
                    }
                    
                    .sns-icon-left {
                        width: 40px;
                        height: 40px;
                        background-color: #EAEAEA;
                        border-radius: 100%;
                        justify-content: center;
                        position: relative;
                        overflow: hidden;
                        margin-right: 5px;

                        &::after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 0;
                            left: 0;
                            bottom: 0;
                            background: #E34444;
                            -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                            -moz-transition: all 0.3s ease;
                            -ms-transition: all 0.3s ease;
                            -o-transition: all 0.3s ease;
                            z-index: 2;
                        }

                        i {
                            margin-top: 2px;
                            width: 12px;
                            color: #333;
                            z-index: 3;
                            transition: all 0.3s ease;
                        }
                    }

                    .sns-icon-right-content {
                        h4 {
                            margin: 0;
                        }
                        span {
                            pointer-events: none;
                            cursor: text;
                        }
                    }
                }
            }
        }
        
    }
}

.switch-language {
    margin-right: 15px;
    &::before {
        content: "";
        width: 1px;
        height: 10px;
        background-color: rgba(136, 136, 136, 0.2);
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.switch-currency::after,
.switch-language::after {
    @include hidden;
    top: 15px;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -5px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.switch-currency:hover::after,
.switch-language:hover::after {
    @include show;
}

.currency__list,
.language__list {
    @include hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    z-index: 1;
}

.switch-currency:hover .currency__list,
.switch-language:hover .language__list {
    @include show;
}

@keyframes animate {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes horizontal {
    0% {
        transform: translateX(0);
    }
    7% {
        transform: translateX(4px);
    }
    14% {
        transform: translateX(0px);
    }
    21% {
        transform: translateX(4px);
    }
    28% {
        transform: translateX(0px);
    }
    35% {
        transform: translateX(4px);
    }
    42%,
    100% {
        transform: translateX(0px);
    }
}

.show {
    @include show
}